/*
Global Styles
*/

* {
  box-sizing: border-box;
}

/*
Element-level styles
*/
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 800px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: steelblue;
}

body {
  background-color: PapayaWhip;
  font-family: tahoma;
}

h1 {
  color: tomato;
  margin-left: 10rem;
  font-family: 'Padauk', sans-serif;

}

header {
  display: flex;
  background: linear-gradient(salmon, PapayaWhip);
}

label {
  color: darkolivegreen;
  padding-top: .75rem;
}

main {
  font-family: 'Padauk', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 800px;
  margin-left: 13rem;
  border-style: solid;
  border-width: 1px;
  border-color: steelblue;
}

nav {
  margin-left: 10rem;
}

textarea {
  height: 6rem;
}

/*
ID selected styles
*/

#build-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#amount {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 50px;
}

#measure {
  flex-basis: 0;
  flex-grow: 2;
}

#item {
  flex-basis: 0;
  flex-grow: 10;
}

/*
Class selected styles
*/

.item-group {
  margin-right: 4px;
}

/*
Media Selectors
*/
